body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 10px 0;
}

nav {
  text-align: center;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.menu li a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.carrito a {
  font-size: 18px;
}

.carrito a::before {
  content: '🛒 ';
}